<!DOCTYPE html>
<html>
    <head>Admin Dashboard</head>
<body>
    {% extends 'hostel/base.html' %}
    {% block content %}
        <h1 style="text-align: center;">Admin Dashboard</h1>
        <img src="https://images.unsplash.com/photo-1560448204-e02f11c3d0e2?ixlib=rb-1.2.1&auto=format&fit=crop&w=600&q=80" alt="Hostel Image" class="hostel-image">
        <div class="button-container">
            <a href="{% url 'add_person' %}"><button>Add Person</button></a>
            <a href="{% url 'add_room' %}"><button>Add New Room</button></a>
            <a href="{% url 'checkin_checkout' %}"><button>CheckIn and CheckOut</button></a>
            <a href="{% url 'visitor_info' %}"><button>Visitor Information</button></a>
            <a href="{% url 'view_info' %}"><button>View Information</button></a>
            <a href="{% url 'leave_application' %}"><button>Leave Application</button></a>
            <a href="{% url 'fee_detail' %}"><button>Fee Detail</button></a>
            <a href="{% url 'admin_feedback' %}"><button>View Feedback</button></a>
            <a href="{% url 'logout' %}"><button>Logout</button></a>
        </div>
    {% endblock %}

</body>
</html>